---
layout: default
---

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h2 class="header center blue-text text-darken-4">Dry Cleaners · Tailors · Laundromat</h2>
      <div class="row center">
        <h4 class="header col s12 light">Five Convenient Locations In South Jersey</h4>
      </div>
      <div class="row center">
        <a href="{{ "/locations" | prepend: site.baseurl }}" id="download-button" class="btn-large waves-effect waves-light blue darken-4">Locations</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="assets/bg1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text text-darken-4"><i class="material-icons">local_laundry_service</i></h2>
          <h5 class="center">Impeccable Service</h5>

          <p class="light">Sharp Cleaners has been offering expert dry cleaning service since 1999. At Sharp Cleaners your garments are handled with care. We offer dry cleaning, tailoring, alterations, wash & fold laundry service, shoe repairs, as well as two full service laundromat locations.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text text-darken-4"><i class="material-icons">public</i></h2>
          <h5 class="center">Environmentally Friendly</h5>

          <p class="light">Sharp Cleaners is committed to being green. We use only non-hazardous and non-toxic cleaning methods to keep your clothing looking and feeling like new.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text text-darken-4"><i class="material-icons">content_cut</i></h2>
          <h5 class="center">Expert Tailoring</h5>

          <p class="light">Trust Sharp Cleaners for all of your alteration needs including hemming, waist alterations, button and zipper replacement, leather & suede repairs, as well as bridal gown and prom dress alterations. </p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Proudly Offering Expert Dry Cleaning in Cape May and Atlantic County</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/bg2.jpg" alt="Unsplashed background img 2"></div>
</div>


